name: SQL Linter

on:
  push:
    branches:
      - main
      - LW11
  workflow_dispatch:

jobs:
  SQLLinter:
    name: SQL Schema Code Convention Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code in Repository
        uses: actions/checkout@v4

      - name: Install SQLFluff
        run: |
          pip install sqlfluff

      - name: Run SQL Linter
        run: |
          sqlfluff lint DataSchema.sql --dialect postgres
